

/* عنوان القسم */
.content-courses h2 {
  font-weight: 800;
  color: var(--mainColor);
}

/* كروت الكورسات */
.course-card{
  border: none;
  color: var(--secondColorDark);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--bg-main-color);
  border-radius: 12px;
  overflow: hidden;
  height: 30em;
}

.course-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.course-card-img{
  height: 50% !important;
}
.custom-course-image{
  height: 700px !important;
}
/* تفاصيل الكورس عند الفتح */
.course-card-details{
  background-color: var(--secondColorLight);
  border: solid 1px var(--mainColor);
  color: var(--secondColorDark);
}
.course-details-btn {
  border-radius: 20px;
  color: var(--secondColorDark);
  border: none;
}


.course-details-btn:hover{
  background-color: var(--mainColor);


}
.price{
  color: var(--secondColor) !important;
  font-size: 1.5em;
}
/* الدرس داخل تفاصيل الكورس */
.course-details .card {
  background-color: #fff;
  border-left: 5px solid var(--secondColor);
  border-radius: 12px;

}

/* السعر داخل الكارد */
.course-card .fw-bold {
  color: var(--mainColor);
}

/* النصوص المختصرة */
.course-card .text-muted {
  font-size: 1rem;
  text-align: right;
}

/* الزر الرجوع */
.selected-card .btn {
  border-radius: 30px;
}

/* السبينر */
.courses-spinner {
  min-height: 300px;
}


/* صفحات البلان */
.plan-details{
  text-align: left;
}

/* Responsive tweaks */
/* @media (max-width: 768px) {
  .course-card img {
    height: 150px;
  }
} */
