nav {
  background-color: #ffffff;
  border-bottom:solid 1px  var(--secondColorLight) !important;
  border-bottom-right-radius: 100px;
  border-top:solid 1px  var(--secondColorLight) !important;
  border-top-right-radius: 100px;
  
}
.logo {
  width: clamp(120px, 5vw, 186.83px);
  height: 90px;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* .logo img {
  width: 100%;
  height: 310%;
  object-fit: fill;
  margin-top: -40%;
} */
.btn-dash{
  border: solid 1px var(--secondColorDark);
  border-radius: 20px;
  background-color: var(--secondColorLight);
  cursor: pointer;
}
.btn-dash:hover{
  background-color: var(--bg-light-color);
}
.btn-out{
  cursor: pointer;
  margin-bottom: 10px;
}
.btn-out:hover{
  background-color: var(--bg-light-color);
}
.nav-item {
  padding: 0 12px;
}

.nav-link {
  color: var(--secondColor);
  font-size: 1.0rem;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--mainColor) !important;
  border-bottom: solid 3px var(--mainColor) ;
  transition: var(--transition);
    transition: 
    border .1s ease;
}

.nav-link.active {
  border-bottom: solid 3px var(--mainColor) ;
  color: var(--mainColor) !important;
}

.text-sin{
  color: var(--mainColor);
}
.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.btn-signIn,
.btn-signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  position: relative;
  overflow: hidden;
  transition: color 0.6s, background-color 0.6s, background-image 0.4s;
  -webkit-transition: color 0.6s, background-color 0.6s, background-image 0.4s;
  -moz-transition: color 0.6s, background-color 0.6s, background-image 0.4s;
  -ms-transition: color 0.6s, background-color 0.6s, background-image 0.4s;
  -o-transition: color 0.6s, background-color 0.6s, background-image 0.4s;
}

.btn-signIn {
  box-shadow: 0 0 0 1px var(--mainColor);
  border: none;
}

.btn-signIn:hover {
  color: #fff !important;
  box-shadow: 0 0 0 1px var(--secondColor);
  /* background-color: var(--secondColor); */
  font-weight: bold;
  background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    var(--secondColor)
  );
}

.btn-signUp {
  color: var(--secondColor) !important;
  font-weight: bold;
  border: dashed 1px var(--secondColor);
}

.btn-signUp:hover {
  background-color: transparent;
    background-image: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    var(--secondColor)
  );
  color: #ffffff !important;
  font-weight: 500;
  border: none;
  box-shadow: 0 0 0 1px #ffffff;
}

.offcanvas-header .btn-close:hover {
  color: var(--secondColor);
  box-shadow: none;
}
.offcanvas{
  width: 200px !important;
}
@media (max-width: 992px) {
  .offcanvas {
    height: 100vh;
  }
  nav{
  background-color: #00000082;
  }
  .logo{
    margin-left: 20px;
  }
  .navbar-toggler{
    margin-right: 20px;
  }
}


