
.dash-Meetings .code-meeting .form-control {
    color: #000000 !important;

}

.dash-Meetings .code-meeting .form-control::placeholder {
    color: #000000c5 !important;
    font-weight: 600;
}

.toggle-screen {
    position:absolute;;
    bottom: 10px;
    right: 10px;
}

.upcoming-meeting{
    color: #000000 !important;
}
.upcoming-meeting h3{
    color: var(--secondColor)!important;
}
.upcoming-meeting h4{
    color: #000000 !important;
}
.more-btn{
    color:var(--secondColor) !important;
    background-color: var(--bg-light-color) !important;
}
.more-btn:hover{
    border: solid 1px var(--secondColor) !important;
}
.Y-border{
    border: solid 1px var(--secondColor) !important;

}